<!DOCTYPE html>
<html lang="tr">
<head>
    {% load compress %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body>
{% include "partials/_navbar.html" %}
{% block content %}  {% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>